In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('data.csv',header=0,encoding = "Latin-1")

In [12]:
print(df[df.weaptype1==7])#.shape[0])

eventid  iyear  imonth  iday approxdate  extended resolution  \
1325    197206020002   1972       6     2        NaN         0        NaN
2440    197406150002   1974       6    15        NaN         0        NaN
7333    197901120004   1979       1    12        NaN         0        NaN
10400   198003100029   1980       3    10        NaN         0        NaN
37958   198904150010   1989       4    15        NaN         0        NaN
45220   199101210016   1991       1    21        NaN         0        NaN
49217   199111250005   1991      11    25        NaN         0        NaN
54858   199401130004   1994       1    13        NaN         0        NaN
57627   199410270002   1994      10    27        NaN         0        NaN
58210   199501060004   1995       1     6        NaN         0        NaN
58497   199502140011   1995       2    14        NaN         0        NaN
58787   199503150008   1995       3    15        NaN         0        NaN
59919   199507250007   1995       7    25        NaN         0        NaN
60277   199509030022   1995       9     3        NaN         0        NaN
61321   199601060001   1996       1     6        NaN         0        NaN
62044   199604040008   1996       4     4        NaN         0        NaN
62930   199607220009   1996       7    22        NaN         0        NaN
62962   199607260002   1996       7    26        NaN         0        NaN
63267   199609030001   1996       9     3        NaN         0        NaN
63953   199611150003   1996      11    15        NaN         0        NaN
65562   199706090010   1997       6     9        NaN         0        NaN
67662   199802230003   1998       2    23        NaN         0        NaN
71182   200010140002   2000      10    14        NaN         0        NaN
75106   200302070003   2003       2     7        NaN         0        NaN
75297   200303170005   2003       3    17        NaN         1  3/19/2003
78085   200505130001   2005       5    13        NaN         0        NaN
89550   200811190018   2008      11    19        NaN         0        NaN
96457   201005120016   2010       5    12        NaN         0        NaN
97512   201007290002   2010       7    29        NaN         0        NaN
99746   201101050005   2011       1     5        NaN         0        NaN
126998  201402070032   2014       2     7        NaN         0        NaN
138462  201409290049   2014       9    29        NaN         0        NaN
171066  201701100028   2017       1    10        NaN         1        NaN

        country    country_txt  region  ...  \
1325        217  United States       1  ...
2440        217  United States       1  ...
7333        208        Tunisia      10  ...
10400       110        Lebanon      10  ...
37958        98          Italy       8  ...
45220        32       Bulgaria       9  ...
49217        65       Ethiopia      11  ...
54858        92          India       6  ...
57627       167         Russia       9  ...
58210        26        Bolivia       3  ...
58497        15        Austria       8  ...
58787       101          Japan       4  ...
59919        11      Argentina       3  ...
60277       185          Spain       8  ...
61321       201         Taiwan       4  ...
62044        19     Bangladesh       6  ...
62930       201         Taiwan       4  ...
62962       185          Spain       8  ...
63267       110        Lebanon      10  ...
63953        44          China       4  ...
65562       124          Malta       8  ...
67662       217  United States       1  ...
71182       173   Saudi Arabia      10  ...
75106       209         Turkey      10  ...
75297       217  United States       1  ...
78085       219     Uzbekistan       7  ...
89550         6        Algeria      10  ...
96457       130         Mexico       1  ...
97512       167         Russia       9  ...
99746       151         Norway       8  ...
126998      214        Ukraine       9  ...
138462       30         Brazil       3  ...
171066       92          India       6  ...

                                                 addnotes  \
1325                                                  NaN
2440                                                  NaN
7333                                                  NaN
10400                                                 NaN
37958                                                 NaN
45220                                                 NaN
49217                                                 NaN
54858                                                 NaN
57627                                                 NaN
58210                                                 NaN
58497                                                 NaN
58787                                                 NaN
59919                                                 NaN
60277                                                 NaN
61321                                                 NaN
62044                                                 NaN
62930                                                 NaN
62962                                                 NaN
63267                                                 NaN
63953                                                 NaN
65562   Police state that the hijackers made no politi...
67662   The 'devices' were found around 10:20 am by a ...
71182                                                 NaN
75106   Anatolia news agency also claimed that Urbak h...
75297   The incident began around 12:00 PM on March 17...
78085                                                 NaN
89550   The perpetrator entered the Palace of Justice ...
96457                                                 NaN
97512                                                 NaN
99746                                                 NaN
126998                                                NaN
138462                                                NaN
171066                                                NaN

                                                   scite1  \
1325                                                  NaN
2440                                                  NaN
7333                                                  NaN
10400                                                 NaN
37958                                                 NaN
45220                                                 NaN
49217                                                 NaN
54858                                                 NaN
57627                                                 NaN
58210                                                 NaN
58497                                                 NaN
58787                                                 NaN
59919                                                 NaN
60277                                                 NaN
61321                                                 NaN
62044                                                 NaN
62930                                                 NaN
62962                                                 NaN
63267                                                 NaN
63953                                                 NaN
65562   Emma Thomasson, "Two Turks surrender as Maltes...
67662   "Fake-Bomb Scare Tied to Bait-Shoot Program," ...
71182   Edward F. Mickolus, Terrorism, 1996-2001 : A C...
75106   "Turkish hostage-taker wanted to protest US th...
75297   Derrill Holly, "Man Claiming To Have Explosive...
78085   Aziz Nurioff, Uzbek Official says Man Killed ...
89550   Ikram Ghioua, "Suicide Bomber Brought Under Co...
96457   Bite Back, "Hoax bomb at KFC," Bite Back, May ...
97512   Press TV, "Plane Hijacking Foiled in Moscow," ...
99746   Jane's Intelligence, "Passengers Foil Attempt ...
126998  "Ukraine investigates Sochi 'hijack attempt' f...
138462  "Terrorist in Brazil Frees Hostage Unharmed,...
171066  "No breakthrough in GH abduction case," Shillo...

                                                   scite2  \
1325                                                  NaN
2440                                                  NaN
7333                                                  NaN
10400                                                 NaN
37958                                                 NaN
45220                                                 NaN
49217                                                 NaN
54858                                                 NaN
57627                                                 NaN
58210                                                 NaN
58497                                                 NaN
58787                                                 NaN
59919                                                 NaN
60277                                                 NaN
61321                                                 NaN
62044                                                 NaN
62930                                                 NaN
62962                                                 NaN
63267                                                 NaN
63953                                                 NaN
65562                                                 NaN
67662   "Fake Explosives Linked to Bait-and-Shoot Prot...
71182                                                 NaN
75106   "Turkey: Police Fail to Connect Hijacker to Te...
75297   Gill Klein and David Rice, "N.C. Farmer Declar...
78085   Suspected Suicide Attack Thwarted at Israeli ...
89550                                                 NaN
96457   Milenio, "Grupo Anaquista Opera en Leon", Mile...
97512   Xinhua News Agency, "Attempted Plane Hijacking...
99746   Right Vision News, "Turker: Turkish Police Thw...
126998  "Xinhua world news summary at 0100 GMT, Feb. 8...
138462  "Gunman holding hostage in Brazilian hotel has...
171066  "4 kidnapped in SGH," ShillongTimes.com, Janua...

                                                   scite3  \
1325                                                  NaN
2440                                                  NaN
7333                                                  NaN
10400                                                 NaN
37958                                                 NaN
45220                                                 NaN
49217                                                 NaN
54858                                                 NaN
57627                                                 NaN
58210                                                 NaN
58497                                                 NaN
58787                                                 NaN
59919                                                 NaN
60277                                                 NaN
61321                                                 NaN
62044                                                 NaN
62930                                                 NaN
62962                                                 NaN
63267                                                 NaN
63953                                                 NaN
65562                                                 NaN
67662                                                 NaN
71182                                                 NaN
75106   "Man who attempted to hijack plane jailed pend...
75297   "Farmer Convicted in Tractor Protest," St. Pet...
78085                                                 NaN
89550                                                 NaN
96457                                                 NaN
97512   Russia & CIS General Newswire, "Court Sanction...
99746   Daily Telegraph, "Hijacking Bid Foiled," Lexis...
126998                                                NaN
138462  "Terrorist in Brazil Frees Hostage Unharmed,...
171066  "Four persons kidnapped in South Garo Hills," ...

                                        dbsource  INT_LOG  INT_IDEO INT_MISC  \
1325                                         HSI        0         0        0
2440                      CBRN Global Chronology       -9        -9        0
7333                                Hijacking DB       -9        -9        0
10400                                       PGIS       -9        -9        0
37958                     CBRN Global Chronology        0         1        1
45220                                       PGIS       -9        -9        1
49217                                       PGIS       -9        -9        0
54858                                       PGIS       -9        -9        0
57627                                       PGIS       -9        -9        0
58210                                       PGIS       -9        -9        1
58497                                       PGIS       -9        -9       -9
58787                     CBRN Global Chronology        0         0        0
59919                                       PGIS       -9        -9        0
60277                                       PGIS       -9        -9        1
61321                                       PGIS       -9        -9        0
62044                                       PGIS       -9        -9        0
62930                                       PGIS        1         1        0
62962                                       PGIS        1         1        1
63267                                       PGIS       -9        -9        1
63953                                       PGIS       -9        -9        0
65562   UMD Encyclopedia of World Terrorism 2012        1         1        1
67662                           Eco Project 2010        0         1        0
71182                                      CETIS       -9        -9        1
75106                                      CETIS       -9        -9        0
75297                             Hewitt Project       -9        -9        0
78085                                      CETIS       -9        -9        1
89550                      UMD Algeria 2010-2012        0         0        0
96457                                       ISVG        0         1        0
97512                                       ISVG       -9        -9        0
99746                                       ISVG        1         0        1
126998                  START Primary Collection       -9        -9        1
138462                  START Primary Collection       -9        -9        0
171066                  START Primary Collection        0         0        0

       INT_ANY  related
1325         0      NaN
2440        -9      NaN
7333        -9      NaN
10400       -9      NaN
37958        1      NaN
45220        1      NaN
49217       -9      NaN
54858       -9      NaN
57627       -9      NaN
58210        1      NaN
58497       -9      NaN
58787        0      NaN
59919       -9      NaN
60277        1      NaN
61321       -9      NaN
62044       -9      NaN
62930        1      NaN
62962        1      NaN
63267        1      NaN
63953       -9      NaN
65562        1      NaN
67662        1      NaN
71182        1      NaN
75106       -9      NaN
75297       -9      NaN
78085        1      NaN
89550        0      NaN
96457        1      NaN
97512       -9      NaN
99746        1      NaN
126998       1      NaN
138462      -9      NaN
171066       0      NaN

[33 rows x 135 columns]

In [61]:
#data = df.loc[(df['iyear']==2017)]

# Searches for entries that occured in the year 2017 and they used a fake weapon 
data = df.loc[(df['iyear'] == 2017) & (df['weaptype1'] == 7)]
print(data.scite1.values)
print(data.scite2.values)
print(data.scite3.values)
print(data.eventid)
#print(df.loc[5,'scite1'])
#print(df.loc[5,'scite2'])

['"No breakthrough in GH abduction case," ShillongTimes.com, January 24, 2017.']
['"4 kidnapped in SGH," ShillongTimes.com, January 23, 2017.']
['"Four persons kidnapped in South Garo Hills," Assam Tribune, January 22, 2017.']
171066    201701100028
Name: eventid, dtype: int64